.UnityGameWrapper {
  width: 960px;
  height: 600px;
  border: 5px solid royalblue;
}

button {
  background-color: royalblue; /* Green */
  border: none;
  color: white;
  padding: 0.5rem 0.8rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0.5rem;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  color: #ece400;
  text-shadow: 2px 2px grey;
}

h2 {
  color: royalblue;
}

h1,
h2 {
  padding: 0;
  margin: 0;
}
